<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<head>
  <link rel="stylesheet" type="text/css" href="static/static/css/style.css"/>
</head>
  <body>

  	<div>
  	
		<img style="position:absolute;top:0.00in;left:0.00in;width:12.76in;height:9.23in" src="../assets/ci_1.png"></img>
		<div style="position:absolute;top:3.6in;left:4.3in;width:4.97in;line-height:0.30in;"><span style="font-style:normal;font-weight:bold;font-size:18pt;font-family:Lato;color:#000033">A  NEDUC  CERTIFICA  QUE  O  ALUNO </span><span style="font-style:normal;font-weight:bold;font-size:18pt;font-family:Lato;color:#000033"> </span><br/></div>
		<div style="position:absolute;top:2in;left:3.8in;width:7.19in;line-height:0.65in;"><span style="font-style:normal;font-weight:bold;font-size:35pt;font-family:Libre Baskerville;color:#000033">Certificado de Conclusão</span><span style="font-style:normal;font-weight:bold;font-size:35pt;font-family:Libre Baskerville;color:#000033"> </span><br/></div>
		<div style="position:absolute;top:4.3in;left:3.4in;width:6.15in;line-height:1.02in;"><span style="font-style:italic;font-weight:normal;font-size:54pt;font-family:Libre Baskerville;color:#000033"> VICTOR DE MELO </span> <span style="font-style:italic;font-weight:normal;font-size:54pt;font-family:Libre Baskerville;color:#000033"> </span><br/></div>
		<img style="position:absolute;top:7in;left:5.6in;width:1.70in;height:1.74in" src="../assets/ri_1.png" />
		<div style="position:absolute;top:5.7in;left:4.3in;width:5.90in;line-height:0.30in;"><span style="font-style:normal;font-weight:bold;font-size:18pt;font-family:Lato;color:#000000">CONCLUIU  O  CURSO  DE PYTHON </span><span style="font-style:normal;font-weight:bold;font-size:18pt;font-family:Lato;color:#000000" th:text="${curso}"> </span><br/></div>
    	
    </div>

  </body>
</html>