<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<head>
<style type="text/css">
  .moldura-dois {
	width: 404px; 
	border:8px inset #5f6632;
	padding:15px;
	background: #b1b1c3;
	}

	.moldura-um {
	width: 480px; /*404+8+8(bordas)+15+15(paddings)*/
	border:20px inset #5d738b;
	padding:35px;
	background: transparent url(/bg-um.gif);
	}
  </style>
</head>
  <body>

  	<div>
  	
		<img style="position:absolute;top:0.00in;left:0.00in;width:12.76in;height:9.23in" src="static/assets/ci_1.png" />
		<div style="position:absolute;top:3.01in;left:3.93in;width:4.97in;line-height:0.30in;"><span style="font-style:normal;font-weight:bold;font-size:18pt;font-family:Lato;color:#000033">A  N E D U C  C E R T I F I C A  Q U E  O  A L U N O</span><span style="font-style:normal;font-weight:bold;font-size:18pt;font-family:Lato;color:#000033"> </span><br/></div>
		<div style="position:absolute;top:1.45in;left:2.85in;width:7.19in;line-height:0.65in;"><span style="font-style:normal;font-weight:bold;font-size:35pt;font-family:Libre Baskerville;color:#000033">Certificado de Conclusão</span><span style="font-style:normal;font-weight:bold;font-size:35pt;font-family:Libre Baskerville;color:#000033"> </span><br/></div>
		<div style="position:absolute;top:3.68in;left:3.42in;width:6.15in;line-height:1.02in;"><span style="font-style:italic;font-weight:normal;font-size:54pt;font-family:Libre Baskerville;color:#000033" th:text="${nome}"></span><span style="font-style:italic;font-weight:normal;font-size:54pt;font-family:Libre Baskerville;color:#000033"> </span><br/></div>
		<img style="position:absolute;top:6.42in;left:5.52in;width:1.70in;height:1.74in" src="static/assets/ri_1.png" />
		<div style="position:absolute;top:5.02in;left:3.45in;width:5.90in;line-height:0.30in;"><span style="font-style:normal;font-weight:bold;font-size:18pt;font-family:Lato;color:#000000" th:text="'C O N C L U I U  O  C U R S O  D E' +  ${curso}"></span><span style="font-style:normal;font-weight:bold;font-size:18pt;font-family:Lato;color:#000000"> </span><br/></div>

    	
    </div>

  </body>
</html>